.col-xs-1 {
    /*padding: 0 0;*/
    width: 55px;
    height: 55px;
    margin-left: 3px;
    padding: 10px;

}

.btn-info, .btn-warning, .btn-danger {
    width: 48.1484px;
    height: 45px;
    float: left;
    /*margin:10px 10px 10px 10px;*/
    padding:0 0;
}

/*.row{
    padding: 12px;
}*/

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    margin-top: 15px;
    margin-left: 12px;
}

h4 {
    margin-left: 12px;
}
.game {
    margin-left: auto;
    margin-right: auto;
}

#new-game {
    margin-top: 80px;
    margin-left: 12px;

    position: absolute;
}

.container-non-responsive {
    margin-left: auto;
    margin-right: auto;
    /*padding-left: 15px;
    padding-right: 15px;*/

    width:1162px;
}
