col-sm-1 {

}

.btn-info{
    width: 48.1484px;
    height: 45px;
}

.btn-warning{
    width: 48.1484px;
    height: 45px;
}

.btn-danger{
    width: 48.1484px;
    height: 45px;
}


.row{
    padding: 12px;
}

.game{
    align: center;
}
