.col-xs-1 {
    /*padding: 0 0;*/
    width: 55px;
    height: 55px;
    margin-left: 3px;
    padding: 10px;

}

.btn-info, .btn-warning, .btn-danger {
    width: 48.1484px;
    height: 45px;
    float: left;
    /*margin:10px 10px 10px 10px;*/
    padding:0 0;
}

/*.row{
    padding: 12px;
}*/

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    margin-top: 15px;
    margin-left: 0;
}

h4 {
    margin-left: 12px;
}
.game {
    margin-left: auto;
    margin-right: auto;
}

#new-game {
    margin-top: 80px;
    margin-left: 12px;

    position: absolute;
}

.container-non-responsive {
    margin-left: auto;
    margin-right: auto;
    /*padding-left: 15px;
    padding-right: 15px;*/

    width: 1162px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 12px;
}

.text-muted {
    font-size: 90%;
}
